.aBtn {
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0.938rem 1.125rem;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-style: normal;

    &:hover {
        opacity: 0.95;
        transition-duration: 100ms;
    }
}

.arrowIcon {
    margin-left: 0.625rem;
    width: 2.25rem;
    height: 2.25rem;
}