@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Geist:wght@100..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  padding: 1.25rem;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0.625rem auto;

}

h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}